* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* footer */

footer {
  height: 55vh;
  background-color: #29003e;
  padding: 4% 12%;
  color: white;
}

/* top footer */

.top-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 24px;
}

.social-media-links {
  display: flex;
  gap: 15px;
}

.social-media-links img {
  height: 15px;
}

/* middle footer */

.middle-footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.middle-footer div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.middle-footer p {
  font-size: 10px;
  color: #e0d1e5;
}

.middle-footer a {
  font-size: 11px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.middle-footer a:hover {
  color: #c8aed0;
  text-decoration: underline;
}

/* bottom-footer*/

.bottom-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.bottom-footer a {
  color: #dc97fd;
}

.bottom-footer a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
